<html lang="es">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Confirmation mail</title>

  <body>
    <h1>Hi, {{name}} Welcome to the max bank system</h1>

    <p>please verify your mail account so you can start using the app!</p>

    <a href={{url}} target="”_blank”">
      <button class="button">VERIFY EMAIL</button>
    </a>
  </body>

</html>